{% extends "products/layout.html" %}

{% block content %}

<!-- With using try / except -->

  <style>
    .alert_message {
        text-align: center;
        font-family: inherit;
        color: red;
    }
  </style>

  <div class="container">
    <div class="row pt-4">
      <div class="col-3"></div>
      <div class="col-6">

        <h2 class="text-center mb-4">Register</h2>

        <div class="alert alert-lightgrey" role="alert">
          <div class="alert_message">
            {{ error }}
          </div>

          <form method="post" action="{% url 'register' %}">

            {% csrf_token %}

            <div class="form-group mb-3">
              <label for="username">User name:</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group mb-3">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group mb-3">
              <label for="confirm_password">Confirm the password</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="form-group mb-3">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-secondary">Register</button>

            <a href="{% url "login" %}" class="btn btn-link" style="color: dimgrey">Login</a>
          </form>

        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>

{% endblock %}


{#  <div class="container">#}
{#    <div class="row pt-4">#}
{#      <div class="col-3"></div>#}
{#      <div class="col-6">#}
{#        <h2 class="text-center mb-4">Register</h2>#}
{#        <form method="post" action="{% url 'register' %}">#}
{#          {% csrf_token %}#}
{#          <div class="form-group mb-3">#}
{#            <label for="username">User name:</label>#}
{#            <input type="text" class="form-control" id="username" name="username" required>#}
{#          </div>#}
{#          <div class="form-group mb-3">#}
{#            <label for="password">Password:</label>#}
{#            <input type="password" class="form-control" id="password" name="password" required>#}
{#          </div>#}
          {#          <div class="form-group mb-3">#}
          {#            <label for="confirm_password">Confirm the password</label>#}
          {#            <input type="password" class="form-control" id="confirm_password name="confirm_password" required>#}
          {#          </div>#}
{#          <div class="form-group mb-3">#}
{#            <label for="email">Email:</label>#}
{#            <input type="email" class="form-control" id="email" name="email" required>#}
{#          </div>#}
          {#          <div class="form-group mb-3">#}
          {#            <label for="firstname">First name</label>#}
          {#            <input type="text" class="form-control" id="firstname" name="first_name" required>#}
          {# name="first_name" из МЕТОДА def register_user --> first_name = request.POST['first_name']#}
          {#          </div>#}
          {#          <div class="form-group mb-3">#}
          {#            <label for="lastname">Last name</label>#}
          {#            <input type="text" class="form-control" id="lastname" name="last_name" required>#}
          {#          </div>#}
          {#          <div class="form-group mb-3">#}
          {#            <label for="about">Information</label>#}
          {#            <input type="text" class="form-control" id="about" name="about" required>#}
          {#          </div>#}
{#          <button type="submit" class="btn btn-secondary">Register</button>#}
{#          <a href="{% url "login" %}" class="btn btn-link">Login</a>#}
{#        </form>#}
{#        <a href="{% url 'get-products' %}">Home page</a>#}
{#      </div>#}
{#      <div class="col-3"></div>#}
{#    </div>#}
{#  </div>  #}
