{% extends "products/layout.html" %}

{% block content %}

  <style>
      h2 {
          text-align: center;
          font-family: inherit;
          padding-top: 20px;
          padding-bottom: 10px;
      }

      p {
          text-align: center;
          text-align: right;
          text-align: justify;
          text-indent: 40px;
      }
  </style>

  <h2> About Us: </h2>

  <p>
    Welcome to our online men's fashion store, where style and comfort come together! Here you will find a big range of
    clothes, shoes and accessories created specifically for modern men who value elegance and quality.
    We carefully select the best deals from leading brands to bring you only the latest and trendiest items. Whether
    it's a classic suit or a sporty look, you're sure to find the right look for any occasion.<br>
    <br>
    Our experienced consultants are always ready to help you choose the perfect wardrobe, taking into account your
    preferences, body shape and the latest fashion trends. Thanks to convenient navigation and detailed product
    descriptions, the selection process will become as simple and enjoyable as possible.<br>
    <br>
    We pay special attention to the quality and comfort of our products. The materials from which our items are made are
    highly durable and wear-resistant, ensuring a long service life and maintaining their original appearance.<br>
    <br>
    In our online store you can find shoes for every taste: from classic shoes to stylish sneakers. We offer a wide
    selection of models made from quality materials that provide comfort and stability on any surface.<br>
    <br>
    Our range of accessories includes stylish belts, ties, scarves, bags and much more. All this will help you create an
    unique image and highlight your individuality. <br>
  </p>

{% endblock %}