{% extends "products/layout.html" %}

{% block content %}

  <p></p>

  <style>
      h2 {
          text-align: center;
          font-family: inherit;
      }
  </style>

  <h2> Delivery and payment: </h2>
  <p>
  </p>
  <p>
    When placing an order and entering your details, you will receive a <i>CONFIRMATION</i> by phone or email about the order
    details, delivery times to your address <br>and the final cost of services to your city within 24 hours, standard order
    processing takes 5 hours.<br>
    <br>
    Orders are accepted <i>ROUND THE CLOCK</i> and are processed from 8.00 to 22.00 (on weekends and holidays, order processing
    time may increase!)<br>
    <br>
    <b>DELIVERY TIMES and METHODS:</b><br>
    • By courier to your door: courier delivery in the Republic of Belarus on the day of order, or the next day.<br>
    • Euromail: delivery within the Republic of Belarus to points located in Euroopt grocery stores - takes 1 - 3 days.<br>
    • Belposhta: delivery within the Republic of Belarus to the Belposhta branch, delivery to Russia and the EU is also available - takes 2-10 working days.<br>
    <br>
    <b>PAYMENT METHODS:</b><br>
    • Cash upon receipt of goods;<br>
    • Visa, Mastercard, MIR, BelCard and others;<br>
    • Installment cards "Halva", "Shopping Card", "Turtle" and other installment cards;<br>
    • Assist Belarus (online payment on the website through a certified service);<br>
    • Apple pay and Samsung pay (select payment method: Card online on the website Assist Belarus);<br>
    • Payment by QR code (you will be provided with a link to pay through your bank).
  </p>

{% endblock %}