<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>ListProducts</title>
<!-- Ссылка для иконки -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .top-menu li a::after {
        content: '';
        display: block;
        width: 100%;
        background-color: #111;
        height: 2px;
        transition: all .3s;
        transform: scale(0);
    }
    .top-menu li a:hover::after {
        transform: scale(1);
    }

    .footer {
        background-color: #343434;
    }
    .footer h4 {
        color: #ccc;
        text-transform: uppercase;
        font-size: 16px;
        border-bottom: 1px solid #666;
        padding-bottom: 6px;
        padding-top: 30px;
    }
    .footer a {
        text-decoration: none;
        padding-bottom: 14px;
        transition: all .3s;
    }
    .footer a:hover {
        color: #fff;
        text-decoration: underline;
    }
    .footer a, footer li {
        color: #c8c8c8;
        font-size: 14px;
        padding-bottom: 6px;
        padding-top: 6px;
    }
    .navbar2 {
        height: 35px;
    }
  </style>
</head>

<body style="background-color: lightgrey">

   <nav class="navbar navbar-expand-lg navbar-light" style="box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 1.5)">
    <div class="container-fluid" style="font-size: larger">
      <a class="navbar-brand id=header" style="font-family: fantasy; font-size: x-large" href="{% url 'get-products' %}">ALL INCLUSIVE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active top-menu" aria-current="page" href="{% url 'get-products' %}">Home</a>
          </li>
{#          ПРИМЕР!#}
{#          <select class="yourclass" multiple="" name="yourname" required="" id="yourselectid">#}
{#            {% for m in model_context %}#}
{#              <option value="{{ m.somevalue }}">{{ m.somename }}</option>#}
{#            {% endfor %}#}
{#          </select>#}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CLOTH
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'get-products-category' category_id=4 %}">Cloth</a></li>
{#              <li><a class="dropdown-item" href="{% url 'get-clothing' %}">Cloth</a></li>#}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'get-pants' %}">Pants</a></li>
              <li><a class="dropdown-item" href="{% url 'get-jumpers' %}">Jumpers</a></li>
              <li><a class="dropdown-item" href="{% url 'get-jeans' %}">Jeans</a></li>
              <li><a class="dropdown-item" href="{% url 'get-jackets' %}">Jackets</a></li>
              <li><a class="dropdown-item" href="{% url 'get-coats' %}">Coats</a></li>
              <li><a class="dropdown-item" href="{% url 'get-shirts' %}">Shirts</a></li>
              <li><a class="dropdown-item" href="{% url 'get-tshirts' %}">T-shirts</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SHOES
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'get-products-category' category_id=5 %}">Shoes</a></li>
{#            <li><a class="dropdown-item" href="{% url 'get-shoes' %}">Shoes</a></li>#}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'get-boots' %}">Boots</a></li>
            <li><a class="dropdown-item" href="{% url 'get-sneakers' %}">Sneakers</a></li>
            <li><a class="dropdown-item" href="{% url 'get-moccasins' %}">Moccasins</a></li>
            <li><a class="dropdown-item" href="{% url 'get-list-shoes' %}">Shoes</a></li>
          </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ACCESSORIES
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'get-products-category' category_id=6 %}">Accessories</a></li>
{#              <li><a class="dropdown-item" href="{% url 'get-accessories' %}">Accessories</a></li>#}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'get-ties' %}">Ties</a></li>
              <li><a class="dropdown-item" href="{% url 'get-wallets' %}">Wallets</a></li>
              <li><a class="dropdown-item" href="{% url 'get-belts' %}">Belts</a></li>
              <li><a class="dropdown-item" href="{% url 'get-bags' %}">Bags</a></li>
              <li><a class="dropdown-item" href="{% url 'get-scavers' %}">Scavers</a></li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto ms-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="font-family: fantasy; font-size: inherit"
               href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contacts | 8-212-555-00-55
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">8-212-555-00-55</a></li>
              <li><a class="dropdown-item">8-029-555-77-55</a></li>
              <li><a class="dropdown-item">8-033-555-77-56</a></li>
              <li><a class="dropdown-item">8-025-555-77-57</a></li>
            </ul>
          </li>
        </ul>

        {% block headerbasket %}

        {% endblock %}

      <!-- Icon of basket in Navbar -->
{#        <div>#}
{#          {% if user.is_authenticated %}#}
{#          <a href="{% url 'in-basket' %}">#}
{#            <i class="fa fa-shopping-cart position-relative" aria-hidden="true" #}
{#               style="font-size: 30px; margin-left: 25px; color: black"></i>#}
{#          </a>#}
{#          {% endif %}#}
{#        </div>#}

      <!--2 Вар. Icon of basket in Navbar with a NUMBER above the icon ! -->
      <!-- сделал через @login_required(login_url='login') см. views/basket -->
{#        <div class="basket">#}
{#          {% if user.is_authenticated %}#}
{#            <a href="{% url 'in-basket' %}">#}
{#              <i class="fa fa-shopping-cart position-relative" aria-hidden="true"#}
{#                 style="font-size: 30px; margin-left: 25px; color: black">#}
{#                <span class="position-absolute start-100 translate-middle badge rounded-pill bg-secondary"#}
{#                      style="font-size: 11px">#}
{#                  {{ total_quantity }}#}
{#                  <span class="visually-hidden">unread messages</span>#}
{#                </span>#}
{#              </i>#}
{#            </a>#}
{#          {% endif %}#}
{#        </div>#}

      <!-- Total price in Navbar -->
{#        <div>#}
{#          {% if user.is_authenticated %}#}
{#            <button type="button" class="btn btn-outline-secondary" style="margin-left: 20px">#}
{#              <strong>Total: {{ total_price }} BYN</strong>#}
{#            </button>#}
{#          {% endif %}#}
{#        </div>#}




        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">
          <li class="nav-item ms-auto row">
            {% if not user.is_authenticated %}
              <a class="nav-link active col" aria-current="page" href="{% url 'login' %}">Enter</a>
              <a class="nav-link active col" aria-current="page" href="{% url 'register' %}">Register</a>

            {% else %}
              <a class="nav-link active col" aria-current="page" href="{% url 'logout' %}">Exit</a>
            {% endif %}

<!-- При ВХОДЕ от "Компании" попадаем на список товаров в ВИДЕ ТАБЛИЦЫ !!! -->
            {% if perms.products.add1 %}
              <a class="nav-link active col" aria-current="page" href="{% url 'get-products-list' %}">Add</a>
            {% endif %}

<!-- При ВХОДЕ от "Manager" видим ссылку "Orders", по которой появляется ТАБЛИЦА для обработки заказов Менеджером!!! -->
            {% if perms.basket.see3 %}
              <a class="nav-link active col" aria-current="page" href="{% url 'order-list' %}">Orders</a>
            {% endif %}

            {% if user.is_authenticated %}
              <a class="nav-link active col" aria-current="page">{{ user.username }}</a>
            {% endif %}

          </li>
        </ul>


<!-- Вариант 1 - БЕЗ "Модального окна" - через Шаблон.html -->

{#        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">#}
{#          <li class="nav-item ms-auto row">#}
{#            {% if user.is_authenticated %}#}
{#            {% if perms.products.add1 %}#}
{#            <a class="nav-link active col" aria-current="page" href="{% url 'add-product' %}">Add</a>#}
{#            {% endif %}#}

{#            {% if not user.is_authenticated %}#}
{##}
{#            <a class="nav-link active col" aria-current="page" href="{% url 'login' %}">Enter</a>#}
{#            <a class="nav-link active col" aria-current="page" href="{% url 'register' %}">Register</a>#}
{#            {% else %}#}
{#            <a class="nav-link active col" aria-current="page" href="{% url 'logout' %}">Exit</a>#}
{#            {% endif %}#}
{#            {% if user.is_authenticated %}#}
{#            <a class="nav-link active col" aria-current="page">{{ user.username }}</a>#}
{#            {% endif %}#}
{#          </li>#}
{#        </ul>#}

<!-- Вариант 2 - через MODAL window -->
{#        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">#}
{#          <li class="nav-item ms-auto row">#}
{#            {% if user.is_authenticated %}#}
{#            {% if perms.products.add1 %}#}
{#              <a class="nav-link active col" aria-current="page" href="{% url 'add-product' %}">Add</a>#}
{#            {% endif %}#}
{##}
{#            {% if not user.is_authenticated %}#}
{#              <ul class="navbar-nav">#}
{#                <li class="nav-item active mr-2">#}
{#                  <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Enter</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#regModal">#}
{#                    Register#}
{#                  </a>#}
{#                </li>#}
{#              </ul>#}
{#            {% else %}#}
{#              <a class="nav-link active col" aria-current="page" href="{% url 'logout' %}">Exit</a>#}
{#            {% endif %}#}
{#            {% if user.is_authenticated %}#}
{#              <a class="nav-link active col" aria-current="page" href="">{{ user.username }}</a>#}
{#            {% endif %}#}
{#          </li>#}
{#        </ul>#}

<!-- Button Search -->
        <form method="POST" class="d-flex gap-2" style="width: 240px" role="search" action="{% url 'search-product' %}">
          {% csrf_token %}
          <input name="search_string" class="form-control ms-4" type="search" placeholder="search" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>


<!-- Basket -->
{#        <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#          <li class="nav-item ms-auto row">#}
{#            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-cart">Basket</a>#}
{##}
{#            <div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#              <div class="modal-dialog modal-xl">#}
{#                <div class="modal-content">#}
{#                  <div class="modal-header bg-secondary text-white">#}
{#                    <h5 class="modal-title" id="exampleModalLabel">Basket</h5>#}
{#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                  </div>#}
{#                  <div class="modal-body">#}
{#                    <table class="table">#}
{#                      <tbody>#}
{#                        <tr>#}
{#                          <td><img src="{{ product.image.url }}" alt="image" style="max-width: 100px"></td>#}
{#                          <td><a href="#">{{ product.name_prod }}</a></td>#}
{#                          <td>{{ product.article }}</td>#}
{#                          <td>{{ product.price }}</td>#}
{#                        </tr>#}
{#                      </tbody>#}
{#                    </table>#}
{#                  </div>#}
{#                  <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Сontinue shopping</button>#}
{#                    <button type="button" class="btn btn-primary">Go to checkout</button>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </li>#}
{#        </ul>#}

      </div>
    </div>
  </nav>


  <img src="/media/mainpage/17-9.jpg" alt="homeimage" style="width:100%;height:250px;">


   <nav class="navbar2 navbar-expand-lg navbar-light top-menu">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0 column-gap-5" style="margin-left: 800px">
           <li class="nav-item">
            <a class="nav-link" aria-current="page" style="color: black; font-size: 15px" href="{% url 'ticket-reviews' %}">
              <b>Reviews</b></a>
          </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" style="color: black; font-size: 15px" href="{% url 'about' %}">
                <b>About online-shop</b></a>
           </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" style="color: black; font-size: 15px" href="{% url 'delivery_payment' %}">
                <b>Delivery and payment</b></a>
            </li>
            <li class="nav-link" style="color: black; font-size: 15px">
              <b>info@allinclusive.com</b>
            </li>
         </ul>
      </div>
   </nav>

<!-- Button for go UP of the page -->
  <div style="position: fixed; bottom: 60px; right: 10px; z-index: 10;">
    <a href="{% url 'get-products' %}" class="btn btn-secondary" style="border-radius: 50%; width: 45px; height: 45px;">
      Up
    </a>
  </div>


   <div class="container">
   <!-- Message about: Registration completed successfully! You can log to the site!-->
     {% if messages %}
       <ul class="messages text-center" style="padding-top: 55px; color: darkslateblue; font-size: 20px">
         {% for message in messages %}
           <li class="{{ message.tags }}" style="list-style-type: none">
             {{ message|safe }}
{#             <a href="#" class="close">✖</a>#}
           </li>
         {% endfor %}
       </ul>
     {% endif %}

   <!--Блок контента -->
     {% block content %}
     {% endblock %}

    <!--Пагинация -->
    <!--1 Вариант - можно вставить в шаблон - layout.html -->
    <!--2 Вариант - можно вставить в шаблон - all_products.html -->
{#     {% include 'products/pagination.html' %}#}

   </div>

  <footer style="padding-top: 20px">
    <section class="footer">
      <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">
              <h4>INFORMATION</h4>
              <ul class="list-unstyled">
                <li><a href="{% url 'get-products' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About online-shop</a></li>
                <li><a href="{% url 'delivery_payment' %}">Delivery and payment</a></li>
                <li>Connect with us:</li>
                <li>info@allinclusive.com</li>
              </ul>
            </div>

            <div class="col-md-3 col-6">
              <h4>WORKING HOURS</h4>
              <ul class="list-unstyled">
                <li>Daily from 8.00 to 20.00</li>
                <li>ONLINE ORDERS ARE ACCEPTED</li>
                <li>ROUND THE CLOCK</li>
              </ul>
            </div>

            <div class="col-md-3 col-6">
              <h4>СONTACTS</h4>
              <ul class="list-unstyled">
                <li><a>8-212-555-00-55</a></li>
                <li><a>8-029-555-77-55</a></li>
                <li><a>8-033-555-77-56</a></li>
                <li><a>8-025-555-77-57</a></li>
              </ul>
            </div>

            <div class="col-md-3 col-6">
              <h4>FEEDBACK</h4>
              <ul class="list-unstyled">
                <li><a href="{% url 'ticket-reviews' %}">Reviews</a></li>
                <li><a href="{% url 'create-ticket' %}">Ask a question</a></li>
                <li><a href="{% url 'ticket-list' %}">My feedback</a></li>
                <li></li>
                <li style="font-size: 17px; padding-left: 110px">enjoy shopping ...</li>
              </ul>
            </div>
        </div>
      </div>
    </section>
  </footer>



            {#ДЛЯ FEEDBACK#}
   {#              <a class="nav-link active col" aria-current="page" href="{% url 'ticket-list' %}">Tickets</a>#}
{#      <button data-bs-toggle="modal" data-bs-target="#feedbackModal">#}
{#        Tickets#}
{#      </button>#}


<!-- Modal window for ENTER -->
{#  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog">#}
{#      <div class="modal-content">#}
{#        <div class="modal-header bg-secondary text-white">#}
{#          <h4 class="modal-title" id="exampleModalLabel">Login</h4>#}
{#        </div>#}
{#        <form method="post" action="{% url 'login' %}">#}
{#          {% csrf_token %}#}
{#          <div class="modal-body">#}
{#            <div class="form-group">#}
{#              <label for="username">User name:</label>#}
{#              <input type="text" class="form-control" id="username" name="username">#}
{#            </div>#}
{#            <div class="form-group">#}
{#              <label for="password">Password:</label>#}
{#              <input type="password" step="1" class="form-control" id="password" name="password">#}
{#            </div>#}
{#          </div>#}
{#          <div class="modal-footer">#}
{#            <button type="submit" class="btn btn-primary">Enter</button>#}
{#            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#          </div>#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}


<!-- Modal window for REGISTRATION -->
{#   <div class="modal fade" id="regModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#     <div class="modal-dialog">#}
{#       <div class="modal-content">#}
{#         <div class="modal-header bg-secondary text-white">#}
{#           <h4 class="modal-title" id="exampleModalLabel">Registration</h4>#}
{#         </div>#}
{#         <form method="post" action="{% url 'register' %}">#}
{#           {% csrf_token %}#}
{#           <div class="modal-body">#}
{#             <div class="form-group">#}
{#               <label for="username">User name:</label>#}
{#               <input type="text" class="form-control" id="username" name="username">#}
{#             </div>#}
{#             <div class="form-group">#}
{#               <label for="password">Password:</label>#}
{#               <input type="password" class="form-control" id="password" name="password">#}
{#             </div>#}
{#             <div class="form-group">#}
{#               <label for="confirm_password">Confirm the password</label>#}
{#               <input type="password" class="form-control" id="confirm_password" name="confirm_password">#}
{#             </div>#}
{#             <div class="form-group">#}
{#               <label for="email">Email</label>#}
{#               <input type="text" class="form-control" id="email" name="email">#}
{#             </div>#}
{#           </div>#}
{#           <div class="modal-footer">#}
{#             <button type="submit" class="btn btn-primary">Register</button>#}
{#             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#           </div>#}
{#         </form>#}
{#       </div>#}
{#     </div>#}
{#   </div>#}


   <!-- Modal window for feedback -->
{#   <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"#}
{#        aria-hidden="true">#}
{#     <div class="modal-dialog" role="document">#}
{#       <div class="modal-content">#}
{#         <div class="modal-header justify-content-center">#}
{#           <h4>Feedback</h4>#}
{#         </div>#}
{#         <form method="post" action="{% url 'create-ticket' %}">#}
{#           {% csrf_token %}#}
{#           <div class="modal-body">#}
{#             <div class="form-group">#}
{#               <label for="title">Title</label>#}
{#               <input type="text" class="form-control" id="title" name="title">#}
{#             </div>#}
{#             <div class="form-group">#}
{#               <label for="category_id">Category</label>#}
{#               <select class="form-control" id="category_id" name="category_id">#}
{#                   {% for category in tickets_category %}#}
{#                      <option value="{{ category.id }}">{{ category.name }}</option>#}
{#                   {% endfor %}#}
{#               </select>#}
{#             </div>#}
{#             <div class="form-group">#}
{#               <label for="description">Description</label>#}
{#               <textarea class="form-control" id="description" rows="5" name="description"></textarea>#}
{#             </div>#}
{#           </div>#}
{#           <div class="modal-footer">#}
{#             <button type="submit" class="btn btn-primary">Send</button>#}
{#             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#           </div>#}
{#         </form>#}
{#       </div>#}
{#     </div>#}
{#   </div>#}


{#  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>#}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
