{% extends "products/layout.html" %}

{% block content %}

    <br>
    <hr>
    <div class="d-flex w-full gap-3">

        <img src="{{ product.image.url }}" alt="image" height="550" width="450">

        <div>
          <h3 class="pt-3" style="color: black">{{ product.name_prod }} - article № {{ product.article }}</h3>
          <h4 style="font-family: cursive; color: dimgrey">Brand - {{ product.company.name_company }}</h4>
          <h4 style="font-family: cursive; color: dimgrey">Season - {{ product.season.name_season }}</h4>
          <h4 style="font-family: cursive; color: dimgrey">Product composition - {{ product.product_composition.product_composition }}</h4>
          <h4 style="font-family: cursive; color: dimgrey">Color - {{ product.color }}</h4>
          <h4 style="font-family: cursive; color: dimgrey">Name product - {{ product.season.name_season }}</h4>
          <h4 style="font-family: cursive; color: dimgrey">Quantity in stock - {{ product.product_count }} (items)</h4>
          <br>
          <a href="#" class="btn btn-secondary">Add to basket</a>
          <a href="#" class="btn btn-secondary">To favorites</a>
        </div>

    </div>
    <hr>
{% endblock %}
